<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} - Anytime Admin</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
</head>
<body class="bg-[#E6F0F9]">
    <div hx-get="/admin/sidebar" hx-trigger="load" hx-swap="innerHTML"></div>
    <div id="main-content" hx-get="/admin/cms/homepage/travel-frag" hx-trigger="load" hx-swap="innerHTML"></div>
</body>
</html>
