<div class="fixed top-0 left-64 right-0 h-screen overflow-auto">
  <main class="">
    <style>
      .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
      }
      .custom-scrollbar::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
      }
      .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #336891;
        border-radius: 10px;
      }
      .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #2a5573;
      }
    </style>
    <!-- header -->
    <div
      hx-get="/admin/header?title=View User"
      hx-trigger="load"
      hx-swap="innerHTML"
    ></div>

    <!-- Back Button -->
    <a
      href="/admin/users"
      class="flex items-center gap-2 p-4 transition-all duration-200 hover:opacity-80 rounded-lg"
    >
      <svg
        width="18"
        height="22"
        viewBox="0 0 18 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M18 0V22L0 11.02L18 0Z" fill="#336891" />
      </svg>
      <span class="text-[#336891] text-lg">Back</span>
    </a>

    <!-- User Info Section -->
    <!-- Profile -->
    <div class="flex justify-between bg-[#33689126] rounded-xl p-4 m-4">
      <div class="flex">
        <img
          src="/static/admin/images/pp1.jpg"
          alt="User Avatar"
          class="w-24 h-24 rounded-full"
        />

        <div class="flex flex-col justify-center text-left gap-y-2 ml-6">
          <h3 class="text-2xl font-semibold">{{.Name}}</h3>
          <p class="text-[#4A5565]">{{.Email}}</p>
          <span
            class="{{.StatusClass}} text-center w-20 h-6 flex items-center justify-center"
            >{{.Status}}</span
          >
        </div>
      </div>
      <div class="flex flex-col items-center justify-center gap-y-4">
        <button
          class="w-56 h-12 bg-[#D24124] text-white rounded-lg hover:bg-red-700 transition-colors"
          onclick="showDeleteConfirmation()"
        >
          Delete Account
        </button>
        <button
          class="w-56 h-12 border border-[#1C9BFF] text-[#1C9BFF] rounded-lg font-semibold text-lg hover:bg-blue-50 transition-colors"
          onclick="showFreezeConfirmation()"
        >
          Unfreeze Account
        </button>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function showDeleteConfirmation() {
        Swal.fire({
          icon: "warning",
          title: "Delete Account",
          html: 'Are you sure you want to delete <strong>{{.Name}}</strong>\'s account?<br><small style="color: #666;">This change cannot be undone</small>',
          showCancelButton: true,
          confirmButtonColor: "#D24124",
          confirmButtonText: "Delete User",
          cancelButtonText: "Cancel",
          customClass: {
            container: "swal2-container",
            popup: "swal2-popup",
            header: "swal2-header",
            title: "swal2-title",
            htmlContainer: "swal2-html-container",
            confirmButton: "swal2-confirm",
            cancelButton: "swal2-cancel",
          },
        });
      }

      function showFreezeConfirmation() {
        Swal.fire({
          icon: "info",
          title: "Freeze Account",
          html: 'Are you sure you want to freeze <strong>{{.Name}}</strong>\'s account?<br><small style="color: #666;">This change cannot be undone</small>',
          showCancelButton: true,
          confirmButtonColor: "#1C9BFF",
          confirmButtonText: "Freeze User",
          cancelButtonText: "Cancel",
          customClass: {
            container: "swal2-container",
            popup: "swal2-popup",
            header: "swal2-header",
            title: "swal2-title",
            htmlContainer: "swal2-html-container",
            confirmButton: "swal2-confirm",
            cancelButton: "swal2-cancel",
          },
        });
      }
    </script>

    <!-- User Details -->
    <div class="m-10">
      <h3 class="font-bold text-lg my-10">User Information</h3>
      <div class="flex justify-between">
        <div class="flex flex-col gap-y-5">
          <div>
            <p class="text-sm text-[#6A7282]">Full Name</p>
            <p class="text-[#101828]">{{.Name}}</p>
          </div>
          <div>
            <p class="text-sm text-[#6A7282]">Email</p>
            <p class="text-[#101828] flex items-center gap-2">
              {{.Email}}
              <button
                class="bg-[#336891] w-5 h-5 rounded flex items-center justify-center"
              >
                <svg
                  width="14"
                  height="14"
                  viewBox="0 0 14 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.8385 1.71707C10.6198 1.49836 10.3231 1.37549 10.0137 1.37549C9.70436 1.37549 9.40766 1.49836 9.18888 1.71707L8.2293 2.67724L11.3227 5.77066L12.2823 4.81166C12.3907 4.70331 12.4767 4.57468 12.5353 4.4331C12.594 4.29153 12.6242 4.13978 12.6242 3.98653C12.6242 3.83328 12.594 3.68154 12.5353 3.53996C12.4767 3.39838 12.3907 3.26975 12.2823 3.16141L10.8385 1.71707ZM10.4979 6.59549L7.40446 3.50207L2.25071 8.65582L1.62305 12.3775L5.34471 11.7492L10.4979 6.59549Z"
                    fill="white"
                  />
                </svg>
              </button>
            </p>
          </div>
          <div>
            <p class="text-sm text-[#6A7282]">Status</p>
            <p class="text-[#101828]">{{.Status}}</p>
          </div>
        </div>

        <div class="flex flex-col gap-y-5">
          <div>
            <p class="text-sm text-[#6A7282]">Last Login</p>
            <p class="text-[#101828]">{{.LastLogin}}</p>
          </div>
          <div>
            <p class="text-sm text-[#6A7282]">Created On</p>
            <p class="text-[#101828]">{{.CreatedOn}}</p>
          </div>
          <div>
            <p class="text-sm text-[#6A7282]">Location</p>
            <p class="text-[#101828]">{{.Location}}</p>
          </div>
        </div>

        <div class="flex flex-col gap-y-5">
          <div>
            <p class="text-sm text-[#6A7282]">User Role</p>
            <p class="text-[#101828]">{{.Role}}</p>
          </div>
          <div>
            <p class="text-sm text-[#6A7282]">Phone Number</p>
            <p class="text-[#101828]">{{.Phone}}</p>
          </div>
          <div>
            <p class="text-sm text-[#6A7282]">Total Bookings</p>
            <p class="text-[#101828]">{{.TotalBookings}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bookings Summary table -->
    <div class="m-10">
      <h3 class="font-bold text-lg mb-4">Booking Summary</h3>
      <div class="rounded-t-2xl overflow-hidden border border-gray-200">
        <table class="w-full text-sm">
          <thead class="bg-[#336891] text-white">
            <tr>
              <th class="px-2 py-3 text-center font-semibold">Provider</th>
              <th class="px-2 py-3 text-center font-semibold">Type</th>
              <th class="px-2 py-3 text-center font-semibold">Status</th>
              <th class="px-2 py-3 text-center font-semibold">Location</th>
              <th class="px-2 py-3 text-center font-semibold">Rating</th>
              <th class="px-2 py-3 text-center font-semibold">Revenue</th>
            </tr>
          </thead>
        </table>
        <div class="overflow-y-auto custom-scrollbar" style="max-height: 440px;">
          <table class="w-full text-sm">
            <tbody class="bg-white text-gray-900">
              {{range .Bookings}}
              <tr class="border-b border-gray-200">
                <td
                  class="px-4 py-3 text-center text-sm text-gray-800 font-semibold"
                  style="width: 16.666%;"
                >
                  {{.Provider}}
                </td>
                <td class="px-4 py-3 text-center text-sm text-gray-800" style="width: 16.666%;">
                  {{.Type}}
                </td>
                <td class="px-4 py-3 text-center" style="width: 16.666%;">
                  <span class="{{.StatusClass}}">{{.Status}}</span>
                </td>
                <td
                  class="px-4 py-3 text-center text-sm text-gray-800 font-semibold"
                  style="width: 16.666%;"
                >
                  {{.Location}}
                </td>
                <td class="px-4 py-3 text-center text-sm" style="width: 16.666%;">{{.Rating}}</td>
                <td class="px-4 py-3 text-center text-sm font-semibold" style="width: 16.666%;">
                  {{.Revenue}}
                </td>
              </tr>
              {{else}}
              <tr>
                <td colspan="6" class="px-4 py-6 text-center text-gray-500">
                  No bookings found for this user.
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>
